<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>客服系统</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
  <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
  <link rel="stylesheet" href="css/client.css">
</head>

<body>
  <div class="page-group">
    <div class="page page-current">
      <!-- 标题栏 -->
      <header class="bar bar-nav">
        <a class="icon icon-me pull-left open-panel"></a>
        <h1 class="title">客服系统<span id="keleyivisitorip" style="display: none;"></span></h1>
      </header>
      <!-- 这里是页面内容区 -->
      <div class="content">
        <div class="content-block msg-container" id="msg-container">


        </div>
        <footer id="chatFooter" class="footer">
          <div class="input-holder">
            <div class="text-holder">
              <textarea id="textarea" placeholder="请输入"></textarea>
              <a id="btnSend">发送</a>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="http://tool.keleyi.com/ip/visitoriphost/"></script>
  <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
  <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
  <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
  <script src="/js/fingerprint.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type='text/javascript' src='js/common.js' charset='utf-8'></script>
  <script type='text/javascript' src='js/client/client.js' charset='utf-8'></script>

</body>

</html>