<% include header.ejs %>
<link rel="stylesheet" href="/css/server.css">
<div class="layui-fluid">
    <div class="friend">
        <div class="friend-head">
            <span class="friend-head-right">0人</span>
            <span class="help-my-chat">我的对话<span id="keleyivisitorip" style="display: none;"></span></span>
        </div>
        <div class="chat-user">

        </div>
    </div>
    <div class="chat">
        <div class="message-container" id="message-container">
            <div class="empty-status">
                <img src="/images/server/tabpage.png">
                <div class="text">从左侧列表打开对话</div>
            </div>
        </div>
        <div class="message-sender">
            <div class="message-emoji-picture" id="btn-uploader">
                <i id="emojiBtn" class="layui-icon" style="font-size: 25px; color: #969faa;">&#xe60c;</i>
                <i id="pickfiles" class="layui-icon picture-upload" style="font-size: 25px; color: #969faa;margin-left: 10px;">&#xe64a;</i>
            </div>
            <div class="sender-editor">
                <textarea placeholder="请输入消息内容，Enter快捷发送，Ctrl+Enter换行" id="msg-send-textarea" disabled></textarea>
                <div class="layui-btn layui-btn-normal btnMsgSend layui-btn-disabled" title="Enter快捷发送，Ctrl+Enter换行">发送</div>
            </div>
        </div>
        <div class="emoji-list">
            <ul>
                <li title="笑脸">&#x1F601;</li>
                <li title="哭脸">&#x1F602;</li>
                <li title="表情1">&#x1F603;</li>
                <li title="表情2">&#x1F604;</li>
                <li title="表情3">&#x1F605;</li>
                <li title="表情4">&#x1F606;</li>
                <li title="表情5">&#x1F607;</li>
                <li title="表情6">&#x1F608;</li>
                <li title="表情7">&#x1F609;</li>
                <li title="表情8">&#x1F60A;</li>
                <li title="表情9">&#x1F60B;</li>
                <li title="表情10">&#x1F60C;</li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://tool.keleyi.com/ip/visitoriphost/"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/plupload/2.1.9/moxie.min.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/plupload/2.1.9/plupload.min.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/qiniu-js-sdk/1.0.14-beta/qiniu.min.js"></script>
<script src="/layui/layui.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type='text/javascript' src='js/common.js' charset='utf-8'></script>
<script src="/js/server/index.js"> </script>

<% include footer.ejs %>