<% include header.ejs %>

<div class="layui-container" style="text-align: center;">
    敬请期待
</div>
     
<script src="/layui/layui.js"></script>
<script>
  //一般直接写在一个js文件中
  layui.use(['layer', 'form','jquery'], function(){
    var layer = layui.layer
            ,form = layui.form
            ,$ = layui.jquery;

    $(".admin-setup").addClass("layui-this");

  });
</script> 

<% include footer.ejs %>